.ReactModalPortal > div {
	opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay{
	display:flex;
	justify-content: center;
	align-items:center;
	transition: opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open{
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
	opacity: 0;
}

.modal{
	background: lighten($off-white, 10%);
	color:darken($dark-blue, 15%);
	max-width:60rem;
	outline:none;
	padding:$l-size;
	text-align:center;
}
.modal__title{
	font-size: 1.5em;
	color: darken($off-white, 50%);
}
.modal__text{
	color: darken($off-white, 50%);
	text-align: left;
}